{% extends "musician/base.html" %}
{% load  django_bootstrap5  i18n %}


{% block content %}
<h1 class="service-name">{{ service.verbose_name }}</h1>

<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <a class="btn btn-light mr-2" href="{% url 'musician:address-list' %}">{% trans "Cancel" %}</a>
  {% bootstrap_button "Save" button_type="submit" button_class="btn-secondary" %}
  {% if form.instance.pk %}
  <div class="float-right">
    <a class="btn btn-danger" href="{% url 'musician:address-delete' view.kwargs.pk %}">{% trans "Delete" %}</a>
  </div>
  {% endif %}
</form>
{% endblock %}
