{% extends "musician/base.html" %}
{% load django_bootstrap5 i18n %}

{% block content %}

<h1 class="mb-4">{% trans 'Unblock IP' %}</h1>

{% if mensaje %}
    <div class="alert alert-info">{{ mensaje }}</div>
{% endif %}

 <p>{% blocktrans %}Provide your public IP address to verify whether it's banned. If it is, it will be unblocked.{% endblocktrans %}</p>

<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% bootstrap_button _("Unblock IP") button_type="submit" button_class="btn-secondary" %}
</form>

<script>
  fetch('https://api.ipify.org?format=json')
      .then(res => res.json())
      .then(data => {
          const ipInput = document.getElementById("id_ip");
          if (ipInput) {
              ipInput.value = data.ip;
          }
      });
</script>


{% endblock %}
