{% extends "musician/base.html" %}
{% load i18n %}

{% block content %}

<h1 class="service-name">{% trans "Your domains" %}</h1>

<div class="mt-4 search-form">
  <form method="get" class="form-inline">
    <div class="form-group mr-sm-2">
      <label class="sr-only" for="id_name">Name</label>
      <input type="text" name="name" class="form-control" placeholder="{% trans 'Domain' %}" title="" id="id_name">
    </div>
    <button type="submit" class="btn btn-secondary">{% trans "Search" %}</button>
  </form>
</div>
<br>

{% for domain in domains %}
<div class="card service-card">
  <div class="card-header">
    <div class="row">
      <div class="col-md">
        <strong>{{ domain.name }}</strong>
      </div>
      <div class="col-md-8">
        {% with domain.websites.0 as website %}
        {% with website.contents.0 as content %}
        <a href="{% url 'musician:domain-detail' domain.id %}" class="btn btn-primary">{% trans "View DNS records" %}</a>
        {% endwith %}
        {% endwith %}
      </div>
      <div class="col-md text-right">
        {% comment "@slamora: orchestra doesn't have this information [won't fix] See issue #2" %}
          {% trans "Expiration date" %}: <strong>{{ domain.expiration_date|date:"SHORT_DATE_FORMAT" }}</strong>
        {% endcomment %}
      </div>
    </div>
  </div><!-- /card-header-->
  <div class="card-body row text-center">
      <div class="col-6 col-md-3 col-lg-2 border-right position-relative">
          <h4>{% trans "Mail" %}</h4>
          <p class="card-text"><i class="fas fa-envelope fa-3x"></i></p>
          <p class="card-text text-dark">
            {{ domain.addresses.count }} {% trans "mail addresses created" %}
          </p>
          <a class="stretched-link" href="{% url 'musician:address-list' %}?domain={{ domain.id }}"></a>
      </div>
      <div class="col-6 col-md-3 col-lg-2 border-right position-relative">
          <h4>{% trans "Mail list" %}</h4>
          <p class="card-text"><i class="fas fa-mail-bulk fa-3x"></i></p>
          <a class="stretched-link" href="{% url 'musician:mailing-lists' %}?domain={{ domain.id }}"></a>
      </div>
      <div class="col-6 col-md-3 col-lg-2 border-right position-relative">
          <h4>{% trans "Software as a Service" %}</h4>
          <p class="card-text"><i class="fas fa-fire fa-3x"></i></p>
          <p class="card-text text-dark">{% trans "Nothing installed" %}</p>
          <a class="stretched-link" href="{% url 'musician:saas-wordpress-list' %}?domain={{ domain.id }}"></a>
      </div>
      <div class="col-6 col-md-3 col-lg-2 border-right position-relative">
        <h4>{% trans "Website" %}</h4>
        <p class="card-text"><i class="fas fa-globe fa-3x"></i></p>
        <p class="card-text text-dark">
          {{ domain.websites.count }} {% trans "assigned website" %}
        </p>
        {% if domain.websites.first %}
          <a class="stretched-link" href="{% url 'musician:website-detail' domain.websites.first.id %}"></a>
        {% else %}
          <a class="stretched-link" href="{% url 'musician:website-list' %}"></a>
        {% endif %}
      </div>
      <div class="d-none d-lg-block col-lg-1"></div>
<!-- 
      <div class="col-6 col-md-3 col-lg-4">
          <h4>{% trans "Disk usage" %}</h4>
          <p class="card-text"><i class="fas fa-hdd fa-3x"></i></p>
          <div class="w-75 m-auto">
          {% include "musician/components/usage_progress_bar.html" with detail=domain.usage %}
          </div>
      </div>
-->
      <div class="d-none d-lg-block col-lg-1"></div>
  </div>
</div>

{% endfor %}
{% endblock %}
