{% extends "musician/base.html" %}
{% load django_bootstrap5 i18n %}


{% block content %}

<style>
.form-check{
  background-color: #fff;
  padding: .375rem 2.0rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
</style>

<a class="btn-arrow-left" href="{% url 'musician:mailing-lists' %}">{% trans "Go back" %}</a>

<h1 class="service-name">
  {% if form.instance.pk %}
    {% trans "Update list" %} <span class="font-weight-light">{{ list.name }}</span>
  {% else %}
    {% trans "Create list" %}
  {% endif %}
</h1>

<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <a class="btn btn-light mr-2" href="{% url 'musician:mailing-lists' %}">{% trans "Cancel" %}</a>
  {% bootstrap_button "Save" button_type="submit" button_class="btn-secondary" %}
  {% if form.instance.pk %}
    <div class="float-right">
      <a class="btn btn-danger" href="{% url 'musician:mailing-delete' view.kwargs.pk %}">{% trans "Delete" %}</a>
    </div>
  {% endif %}
</form>
{% endblock %}

