amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.4.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cracklib==2.9.6
Django==5.0.13
django-admin-tools==0.9.3
django-bootstrap5==25.1
django-cors-headers==4.7.0
django-countries==7.6.1
django-extensions==3.2.3
django-filter==25.1
django-fluent-dashboard==2.0
django-localflavor==4.0
djangorestframework==3.15.2
ecdsa==0.19.1
idna==3.10
jsonfield==3.1.0
kombu==5.5.0
libevdev==0.5
libpass==1.9.0
lxml==5.3.1
Markdown==3.7
phonenumbers==9.0.1
prometheus_client==0.21.1
prompt_toolkit==3.0.50
Pygments==2.19.1
PyGObject==3.42.2
python-dateutil==2.9.0.post0
python-stdnum==1.20
pytz==2025.1
pyudev==0.24.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
