SECRET_KEY=zrhnooq6)sb+0+xb)(o0rvbf5)a(vc8ncv&1&kng@3i_pmx3oy
DEBUG=True
ALLOWED_HOSTS=.localhost,127.0.0.1
DATABASE_URL=postgres://orchestra:orchestra@127.0.0.1:5432/orchestra
STATIC_ROOT=PATH_TO_STATIC_ROOT
