{% extends "musician/base.html" %}
{% load django_bootstrap5 i18n %}


{% block content %}

<a class="btn-arrow-left" href="{% url 'musician:webapp-detail' view.kwargs.pk %}">{% trans "Go back" %}</a>

<h1 class="service-name">
  {% if form.instance.pk %}{% trans "Update Option of" %}{% else %}{% trans "Add Option to" %}{% endif %}
  <span class="font-weight-light">{{ form.webapp.name }}</span>
</h1>

<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <a class="btn btn-light mr-2" href="{% url 'musician:webapp-detail' view.kwargs.pk %}">{% trans "Cancel" %}</a>
  {% bootstrap_button "Save" button_type="submit" button_class="btn-secondary" %}
</form>
{% endblock %}
