{% extends "musician/users_base.html" %}
{% load django_bootstrap5 i18n %}

{% block tabcontent %}

<div class="mt-4 search-form">
  <form method="get" class="form-inline">
    <div class="form-group mr-sm-2">
      <label class="sr-only" for="id_name">Name</label>
      <input type="text" name="name" class="form-control" placeholder="{% trans 'User' %}" title="" id="id_name">
    </div>
    <button type="submit" class="btn btn-secondary">{% trans "Search" %}</button>
  </form>
</div>

<div class="table-responsive">
<table class="table service-list">
  <!-- <colgroup>
    <col span="1" style="width: 15%;">
    <col span="1" style="width: 25%;">
    <col span="1" style="width: 40%;">
    <col span="1" style="width: 20%;">
  </colgroup> -->
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% trans "Username" %}</th>
      <th scope="col">{% trans "Path" %}</th>
      <th scope="col">{% trans "Server" %}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for webappuser in object_list %}
    <tr>
      <td>{{ webappuser.username }}</td>
      <td>/home/{{ webappuser.account }}/webapps/{{ webappuser.home }}</td>
      <td>{{ webappuser.target_server }}</td>
      <td>
        <div class="d-flex justify-content-end">
          <a class="btn btn-outline-warning" href="{% url 'musician:webappuser-password' webappuser.id %}">
            <i class="fas fa-key"></i> {% trans "Update password" %}</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
